@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #f75f8f;
  --dark: #0a0a0a;
  --dark-hover: #1a1a1a;
  --light: #ededed;
  --light-hover: #dddddd;
  --gray: #888888;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-geist);
}

/* vertical line */

.animation-delay-1000 {
  animation-delay: 1s;
}

.animation-delay-1050 {
  animation-delay: 1050ms;
}

.animation-delay-1100 {
  animation-delay: 1.1s;
}

.vertical-line {
  background: repeating-linear-gradient(
    90deg,
    var(--gray) 0 5px,
    var(--dark) 0 10px
  );
  opacity: 0.2;
}

.vertical-line-animation {
  opacity: 0;
  background: repeating-linear-gradient(
    90deg,
    var(--light) 0 5px,
    var(--dark) 0 10px
  );
  animation-name: verticalLine;
  animation-duration: 800ms;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes verticalLine {
  0% {
    left: 0;
    opacity: 0;
  }

  35% {
    width: 20%;
    opacity: 0.5;
  }

  100% {
    left: 105%;
    opacity: 0;
    width: 0;
  }
}

/*  */
